<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xwing.sundae">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.miui.whetstone.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android.view.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.view.my.FeedbackActivity" />
        <activity android:name=".android.view.my.MyPubishActivity" />
        <activity android:name=".android.view.my.MyCommentActivity" />
        <activity android:name=".android.view.my.MyCollectActivity" />
        <activity android:name=".android.view.my.MyFollowActivity" />
        <activity android:name=".android.view.my.TestPullActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".android.view.my.EditUserInfoActivity" />
        <activity android:name=".android.view.my.UserInfoActivity" />
        <activity android:name=".android.view.LoginActivity" />
        <activity android:name=".android.view.IndexDetailActivity" />
        <activity android:name=".android.view.MainActivity"/>
    </application>

</manifest>